/*
.row-height{
	height: 80px;
}

.lImg-format{
	width: 100%;
	height: 100%;
}

.rImg-format{
	width: 100%;
	height: 100%;
}
*/
.gray-out{
	opacity:0.4;
	background-color:gray;
	width:100%;
	margin:0px;
}

.act-button{
	background:#0099FF;
	border-radius:6px;
	width:60%;
	height:60px;
	margin-left:20%;
	margin-top:5%;
	font-family: 'Fjalla One', sans-serif;
	font-size:1.5em;
	color:white;
	outline: none;
}